html, body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: black solid;
    width: 200px;
    height: 200px;
}

.square {
    width: 20px;
    height: 20px;   
}

.snake {
    background-color: green;
}
