body {
  background-color: green;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0.5em;
}

.container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

img {
  height: 200px;
  width: 150px;
  border-radius: 10px;
}

button {
  margin-top: 20px;
}

.hand-message {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

p {
  margin-top: 5px;
}
